.wrapp {
  padding-left: 50px;
  padding-right: 50px;
  height: 500px;
  overflow-y: scroll;
}

.notification-counter {
  position: absolute;
  float: right;
  background-color: rgba(212, 19, 13, 1);
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 10px Verdana;
}

.pbNumber{
  top: 10px;
}

.divprogress{
  padding-top: 20px;
}

.hideStar{
  display: none;
}
